body {
	font-size: 14px;
	line-height: 30px;
	color: #000;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
}

.main-header {
	background-color: #eee;
}

.container {
	width: 900px;
	padding: 0 10px;
	margin: 0 auto;
}

.index-logo {
	float: left;
	margin-top: 30px;
}

.main-navigation {
	float: right;
	margin-left: 100px;
}

.main-navigation ul { 
	list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    margin-left: 45px;
    margin-bottom: 53px;
}

.main-navigation a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #9c9c9c;
}

.main-navigation .current-page {
	padding-bottom: 4px;
	border-bottom: 2px solid #fb565a;
}

.cart {
	float: right;
	margin-top: 60px;
	margin-left: 67px;
}

.cart a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.cart a:hover {
	color: #fb565a;
}

.cart a:active {
	color: #9c9c9c;
}

.cart:before {
	content: '';
	display: inline-block;
	background: url("img/sprite-icons.png") 0 -213px no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.slider {
	position: relative;
}

.slider ul {
	list-style-type: none;
	margin: 0; 
    padding: 0;
}

.slider li {
	min-height: 310px;
	display: none;
}

.slider li:nth-child(1) {
    display: block;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    vertical-align: top;
    background-color: #ffffff;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #c1c1c1;
}

.slider-content {
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 80px;
}

.slider-content strong {
	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
}

.slider p {
	margin-bottom: 29px;
	color: #283136;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.slider img {
	float: right;
}

.slider-content a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	padding-right: 70px;
	padding-left: 70px;
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: #fb565a;
	border-radius: 3px;
	text-transform: uppercase;
}

.features-item {
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin-right: 80px;
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
}

.features-item:last-child {
	margin-right: 0;
}

.features-item p {
	color: #283136;
	font-size: 15px;
	line-height: 22px;
}

.features-item .feature {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.features-item p:nth-child(3n) {
	margin-bottom: 27px;
}

.features-item .btn {
	text-decoration: none;
	color: #fff;
    padding: 11px 40px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.features .container {
	border-bottom: #eee 2px solid;
}

.btn.red {
	background-color: #fb565a;
}

.btn.red:hover {
	background-color: #d6494d;
}

.btn.red:active {
	background-color: #b63538;
	box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .15);
}

.btn.green {
	background-color: #00ca74;
}

.btn.green:hover {
	background-color: #01a25e;
}

.btn.green:active {
	background-color: #009053;
	box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .15);
}

.btn.yellow {
	background-color: #efc84a;
}

.btn.yellow:hover {
	background-color: #d6ae2c;
}

.btn.yellow:active {
	background-color: #c09b24;
	box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .15);
}

.index-content-left {
	float: left;
}

.index-content-right {
	float: right;
}

.index-content h1 {
	font-size: 36px;
	line-height: 36px;
}

.index-content-title p {
	color: #283136;
	font-size: 16px;
	line-height: 22px;
}

.content-logo {
	margin-bottom: 70px;
}

.index-content-info {
	margin-top: 40px;
}

.index-content-info p {
	color: #283136;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 15px;
}

.index-content-info ul {
	margin: 0;
	padding: 0;
}

.index-content-info li {
	color: #283136;
	font-size: 16px;
	line-height: 22px;
	list-style-type: none;
	padding-bottom: 30px;
}

.index-content-info li:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin-right: 12px;
	vertical-align: middle;
}

.index-content .clearfix {
	margin: 70px 0;
}

.index-content .container {
	border-bottom: #eee 2px solid;
}

.work ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.work li {
	display: inline-block;
	vertical-align: middle;
	margin: auto 0;
	padding: 70px;
}

.work li:first-child {
	padding-left: 0;
}

.work li:last-child {
	padding-right: 0;
}

.work a {
	text-decoration: none;
	opacity: 0.2;
}

.work a:hover {
	opacity: 1;
}

.work a:active {
	opacity: 1;
}

.samples-of-work .container {
	border-bottom: #eee 2px solid;
}

.contacts {
	margin-top: 85px;
}

.address {
	position: absolute;
	top: 1800px;
	left: 160px;
	background-color: #fff;
	width: 250px;
	height: 240px;
	text-align: center;
}

.address p {
	color: #666;
}

.address p:first-child {
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
}

.address a {
	text-decoration: none;
	padding: 11px 55px;
	background-color: #fb565a;
	color: #fff;
	border-radius: 5px;
}

.logo-map {
	position: absolute;
	top: 1800px;
	left: 700px;
}

.main-footer {
	margin: 75px 0;
}

.social {
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

.social-vk, .social-fb, .social-inst {
	float: left;
}

.discount {
	display: inline-block;
	vertical-align: top;
	width: 580px;
}

.discount strong {
	font-size: 36px;
	line-height: 36px;
}

.shop-content-left {
	float: left;
	padding-top: 10px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
}

.shop-welcome {
	margin: 0 auto;
	padding-bottom: 83px;
}

.shop-welcome h1 {
	font-size: 40px;
	line-height: 46px;
	text-align: center;
	text-transform: uppercase;
}

.content-shop {
	margin-top: 80px;
}

.form-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.content-shop input[type="radio"],
.content-shop input[type="checkbox"] {
    display: none;
}

.shop-content-left label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 3px;
    vertical-align: top;
    background-color: #ffffff;
    border: 4px solid #c1c1c1;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.content-shop .button {
	display: block;
	margin-top: 55px;
	background-color: #f1f1f1;
	padding: 11px 45px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	border: none;
}

.content-shop .button:hover {
	background-color: #e5e5e5;
}

.content-shop .button:active {
	background-color: #d5d5d5;
	border-top: 2px solid #b5b5b5;
}

.range-controls {
	position: relative;
    height: 80px;
    width: 180px;
    margin-bottom: 15px;
    padding: 0 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.scale {
	width: 180px;
	margin-left: 0;
	margin-top: 39px;
    height: 2px;
    background-color: #d7dcde;
}

.price-controls {
	text-transform: uppercase;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
}

.min-price, .max-price {
    width: 49px;
    margin-left: 10px;
    padding: 11px 15px;
    border: none;
    background-color: #f1f1f1;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.min-price {
	margin-right: 14px;
}

.min-toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background-color: #ababab;
    cursor: pointer;
    border-radius: 50%;
}

.max-toggle {
	position: absolute;
    top: 30px;
    left: 150px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background-color: #ababab;
    cursor: pointer;
    border-radius: 50%;
}

.shop-content-right {
	float: right;
	width: 565px;
}

.sorting strong {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	margin-right: 40px;
}

.sorting a {
	text-decoration: none;
	color: #b2b2b2;
	border-bottom: #00ca74 2px dotted;
	margin-right: 45px;
}

.sorting:after {
	content: '';
	display: inline-block;
	background: url("img/sprite-icons.png") 0 -213px no-repeat;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

.sorting:after {
	content: '';
	display: inline-block;
	background: url("img/sprite-icons.png") 0 -213px no-repeat;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

.products ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 80px;
}

.products li {
	display: inline-block;
	width: 240px;
	margin-bottom: 80px;
	vertical-align: top;
}

.products li:nth-child(odd) {
	margin-right: 80px;
}

.images {
	position: absolute;
}

.images:hover ~ .title {
	visibility: visible; 
}

.images-header {
	position: relative;
	width: 240px;
	height: 30px;
	background-color: #797979;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.images-header .span {
	position: absolute;
	top: 10px;
	left: 12px;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-left: 7px;
    background-color: #fff;
    border: 3px solid white;
    border-radius: 50%;
}

.title {
	position: relative;
	top: 50px;
	left: 20px;
	background-color: #fff;
	width: 200px;
	height: 130px;
	text-align: center;
	visibility: hidden;
	margin-bottom: 20px;
	padding: 33px 0;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
}

.title p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
	padding-top: 15px;
	padding-bottom: 30px;
}

.title a {
	text-decoration: none;
	padding: 11px 35px;
	background-color: #fb565a;
	color: #fff;
	border-radius: 3px;
	font-size: 18px;
	line-height: 22px;
}

.title a:hover {
	background-color: #d6494d;
}

.title a:active {
	background-color: #b63538;
	box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .15)
}

.paginator a {
	text-decoration: none;
	text-align: center;
	color: #000;
	display: inline-block;
	width: 36px;
	height: 36px;
	background-color: #f1f1f1;
	border: #f1f1f1 2px solid;
	border-radius: 2px;
}

.paginator a:last-child {
	width: 140px;
}

.paginator .active-link {
	background-color: #fff;
}

.pop-up-form {
	position: relative;
	bottom: 250px;
	left: 50%;
	width: 630px;
	margin-left: -315px;
	padding-top: 55px;
	padding-left: 80px;
	padding-right: 90px;
	padding-bottom: 50px;
	color: #000;
	background-color: #fff;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
	z-index: 10;
}

.pop-up-form p {
	padding: 0;
	margin: 0;
}

.pop-up-form input {
	text-transform: uppercase;
	padding: 0 10px;
	font-size: 12px;
	line-height: 18px;
}

.pop-up-form label {
	font-size: 16px;
	line-height: 18px;
}

.pop-up-form input[type="submit"] {
    display: block;
    width: 460px;
    height: 38px;
    color: #fff;
    background-color: #fb565a;
    border: none;
    border-radius: 2px;
}

.pop-up-form .form-name {
	float: left;
	margin-right: 20px;
}

.pop-up-form .form-email {
	float: right;
	margin-bottom: 20px;
}
.pop-up-form .form-text {
	clear: both;
}

.icon-close {
	position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #fb565a;
    border-radius: 35px;
    border: #fb565a;
}

.icon-close::before,
.icon-close::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: 25px;
    height: 5px;
    background-color: #fff;
    border-radius: 1px;
}

.icon-close::before {
    transform: rotate(45deg);
}

.icon-close::after {
    transform: rotate(-45deg);
}

.pop-up-form .name-type, 
.pop-up-form .email-type {
	display: inline-block;
	width: 218px;
	height: 36px;
	border: #d7dcde 2px solid;
	border-radius: 2px;
}

.pop-up-form .name-type:hover, 
.pop-up-form .email-type:hover {
	border: #a2a9ac 2px solid;
}

.pop-up-form .name-type:focus, 
.pop-up-form .email-type:focus {
	border: #56bffb 2px solid;
}

.pop-up-form .text-type {
	width: 458px;
	height: 113px;
	border: #d7dcde 2px solid;
	border-radius: 2px;
	margin-bottom: 48px;
}

.pop-up-form .text-type:hover {
	border: #a2a9ac 2px solid;
}

.pop-up-form .text-type:focus {
	border: #56bffb 2px solid;
}